$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

@media (min-width: 992px)
{    
    .box_cards_restaurants
    {
        flex-direction: row;
        justify-content: space-between;

        .card_restaurant
        {
            width: 23%;
        }
    }

    .menu_restaurant
    {
        width: 70%;
        margin-inline: auto;
    }
}

@media (min-width: 767px)
{
   .box_cards_fonctionnement
    {
        flex-direction: row;
    
        .card_fonctionnement
        {
            margin-right: 10px;
        }
    }

    footer
    {
        flex-direction: row;
        height: 80px;
        justify-content: space-around;
        padding-top: 30px;
        align-items: center;
    
        #logo_footer, a
        {
            margin: 0;
        }
    } 
}


