/* keyframes loader page */
@-webkit-keyframes spin {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(-1turn);
  }
}
@-webkit-keyframes spin_reverse {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(-2turn);
  }
}
@keyframes spin_reverse {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(-2turn);
  }
}
@-webkit-keyframes spin_fade_out {
  75% {
    opacity: 1;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
@keyframes spin_fade_out {
  75% {
    opacity: 1;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes loader_closing {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader_closing {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* keyframes check_plat */
@-webkit-keyframes slide {
  from {
    width: 0px;
    transform: translateX(50px);
  }
  to {
    width: 50px;
    transform: translateX(0);
  }
}
@keyframes slide {
  from {
    width: 0px;
    transform: translateX(50px);
  }
  to {
    width: 50px;
    transform: translateX(0);
  }
}
@-webkit-keyframes slide_back {
  from {
    width: 50px;
    transform: translateX(0);
  }
  to {
    width: 0px;
    transform: translateX(50px);
  }
}
@keyframes slide_back {
  from {
    width: 50px;
    transform: translateX(0);
  }
  to {
    width: 0px;
    transform: translateX(50px);
  }
}
@-webkit-keyframes check_spinning {
  100% {
    transform: rotate(2turn);
  }
}
@keyframes check_spinning {
  100% {
    transform: rotate(2turn);
  }
}
/* keyframe apparation plats */
@-webkit-keyframes dish_pop_up {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes dish_pop_up {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

body {
  min-width: 300px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.center_item {
  justify-content: center;
  align-items: center;
}

.logo_header, #logo_footer {
  font-family: "Shrikhand", cursive;
}

.logo_header {
  font-size: 25px;
}

.fonctionnement_section h2, .restaurants_section h2 {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: 900;
}

.ovale_button {
  font-weight: 400;
}

.box_heart_icon {
  width: 24px;
  height: 24px;
}
.box_heart_icon:hover .heart_icon_hover {
  opacity: 1;
  transition: opacity 0.6s ease-out;
}
.box_heart_icon:hover .heart_icon {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.box_heart_icon .heart_icon_hover {
  position: absolute;
  z-index: 1;
  background: linear-gradient(#FF79DA, #9356DC);
  color: transparent; /* pour rendre le coeur noir transparent et ne montrer que le background color */
  -webkit-background-clip: text;
          background-clip: text; /* pour limiter le background au contour du coeur */
  opacity: 0;
}

.heart_icon, .heart_icon_hover {
  font-size: 21px;
}

/* LOADER */
#loader_page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: rgba(255, 255, 255, 0.788);
  -webkit-animation: loader_closing 0.5s 5s linear forwards;
          animation: loader_closing 0.5s 5s linear forwards;
}
#loader_page span {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  z-index: 1;
}
#loader_page .spinning_box {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 5px solid transparent;
  border-radius: 200px;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  -webkit-animation: spin 4s ease-in-out forwards, spin_fade_out 4s 1s ease-in-out forwards;
          animation: spin 4s ease-in-out forwards, spin_fade_out 4s 1s ease-in-out forwards;
}
#loader_page .spinning_box::before {
  content: "";
  position: absolute;
  border-radius: 200px;
  border: 5px solid transparent;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  -webkit-animation: spin_reverse 2s ease-in-out infinite;
          animation: spin_reverse 2s ease-in-out infinite;
}
#loader_page .spinning_box::after {
  content: "";
  position: absolute;
  border-radius: 200px;
  border: 5px solid transparent;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
  border-top-color: #99E2D0;
  border-bottom-color: #99E2D0;
  -webkit-animation: spin 4s ease-in-out infinite;
          animation: spin 4s ease-in-out infinite;
}

.ovale_button {
  height: 45px;
  min-width: 150px;
  line-height: 45px;
  padding-inline: 20px;
  border-radius: 23px;
  box-shadow: 0 0 13px rgb(187, 187, 187);
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-align: center;
}
.ovale_button:hover {
  box-shadow: 0 0 13px #a2a2a2;
  background: linear-gradient(#ff94e1, #a978e3);
}

header {
  height: 55px;
}
header .back_to_main_arrow {
  position: absolute;
  font-size: 1.1em;
  left: 25px;
  top: 17px;
  color: black;
}

.box_localisation {
  background-color: rgb(233, 233, 233);
  box-shadow: inset 0 2px 5px -2px rgb(150, 150, 150);
  line-height: 42px;
}
.box_localisation i {
  margin-right: 15px;
}

.box_exploration {
  text-align: center;
  padding-bottom: 50px;
  background-color: rgb(243, 243, 243);
}
.box_exploration h1 {
  width: 68%;
  font-size: 21px;
  font-weight: 900;
  margin: 32px 0 0 0;
}
.box_exploration p {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 20px 25px 20px;
}

.fonctionnement_section {
  padding: 0 20px 40px;
}
.fonctionnement_section .card_fonctionnement {
  border-radius: 15px;
  box-shadow: 0 0 13px rgb(187, 187, 187);
  align-items: center;
  margin-left: 11px;
  margin-bottom: 20px;
  padding-right: 20px;
  height: 63px;
  width: 95%;
}
.fonctionnement_section .card_fonctionnement:hover {
  background-color: #efe6fa;
  box-shadow: 0 0 13px #a2a2a2;
}
.fonctionnement_section .card_fonctionnement:hover .fonctionnement_icon {
  color: #9356DC;
}
.fonctionnement_section .card_fonctionnement .number_icon {
  width: 20px;
  line-height: 20px;
  color: white;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;
  background-color: #9356DC;
  position: relative;
  left: -10px;
}
.fonctionnement_section .card_fonctionnement .fonctionnement_icon {
  margin-right: 22px;
  margin-left: 8px;
  color: grey;
}

.restaurants_section {
  padding: 5px 20px 30px 20px;
  background-color: rgb(243, 243, 243);
}

.etiquette_nouveau {
  position: relative;
}
.etiquette_nouveau::before {
  content: "Nouveau";
  background-color: #99E2D0;
  position: absolute;
  padding: 6px 14px 6px 14px;
  color: #278870;
  font-size: 12px;
  border-radius: 2px;
  top: 13px;
  right: 15px;
}

.card_restaurant {
  height: 220px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 0 13px rgb(187, 187, 187);
}
.card_restaurant:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.card_restaurant img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 70%;
}
.card_restaurant h3 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 4px;
  margin-top: 0;
}
.card_restaurant .bloc_infos_card {
  height: 30%;
  padding: 10px 20px 20px 10px;
  border-radius: 0 0 15px 15px;
  justify-content: space-between;
}
.card_restaurant .bloc_infos_card p {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 165px;
  background-color: rgb(51, 51, 51);
  padding: 20px 20px 30px 20px;
  color: white;
}
footer #logo_footer {
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 15px;
}
footer div {
  align-items: center;
}
footer a {
  margin: 4px 0 4px 0;
  font-size: 13px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: white;
}
footer i {
  width: 20px;
}

/* PAGE MENU */
.box_menu_restaurant {
  width: 100%;
}
.box_menu_restaurant img {
  width: 100%;
  max-height: 300px;
  height: 230px;
  z-index: 0;
}
.box_menu_restaurant .menu_restaurant {
  z-index: 1;
  padding: 30px 17px 40px 17px;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  background-color: rgb(233, 233, 233);
}
.box_menu_restaurant .menu_restaurant .bloc_titre_menu {
  justify-content: space-between;
  padding-right: 15px;
}
.box_menu_restaurant .menu_restaurant .bloc_titre_menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-weight: lighter;
  margin: 0;
}
.box_menu_restaurant .menu_restaurant h2 {
  margin-bottom: 20px;
  font-weight: 400;
  position: relative;
}
.box_menu_restaurant .menu_restaurant h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 35px;
  bottom: -5px;
  background-color: #99E2D0;
  transition: 0.5s ease-in-out;
}
.box_menu_restaurant .menu_restaurant .bloc_plats:hover h2::before {
  width: 100%;
}
.box_menu_restaurant .box_bouton_commander {
  margin-top: 25px;
}

.card_plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 12px;
  box-shadow: 0 0 13px rgb(187, 187, 187);
  overflow: hidden;
  -webkit-animation: dish_pop_up 1.5s cubic-bezier(0.49, 0.11, 0, 1) backwards;
          animation: dish_pop_up 1.5s cubic-bezier(0.49, 0.11, 0, 1) backwards;
}
.card_plat:nth-of-type(2) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.card_plat:nth-of-type(3) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.card_plat:nth-of-type(4) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.card_plat:hover .box_anim_check {
  -webkit-animation: slide 0.6s ease-in-out both;
          animation: slide 0.6s ease-in-out both;
}
.card_plat:hover .icone_check {
  -webkit-animation: check_spinning 0.6s ease-in-out both;
          animation: check_spinning 0.6s ease-in-out both;
}
.card_plat .box_infos_plat {
  padding: 10px 0 10px 10px;
  white-space: nowrap;
  overflow: hidden;
}
.card_plat .box_infos_plat p {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_plat .box_infos_plat span {
  font-size: 13px;
  font-weight: lighter;
}
.card_plat .box_prix_plat {
  width: 50px;
  padding: 33px 0 0 10px;
}
.card_plat .box_prix_plat p {
  font-size: 13px;
}
.card_plat .box_anim_check {
  align-items: center;
  justify-content: center;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  -webkit-animation: slide_back 0.6s ease-in-out forwards;
          animation: slide_back 0.6s ease-in-out forwards;
}
.card_plat .box_anim_check i {
  color: white;
}/*# sourceMappingURL=style.css.map */